<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campground</title>
  </head>

  <body>
    <h1>Edit Campground</h1>
    <form id="myForm"  action="/campgrounds/{{ camp.id }}" method="POST">
      {{ form.csrf_token }}
      <div>
	<label for="title">Title</label>
	{{ form.title  }}
      </div>
      <div>
	<label for="location">Location</label>
	{{ form.location  }}
      </div>
      <input type="hidden" name="method" value="put">
      <div>
	<button id="updateCamp">Update Campground</button>
      </div>
    </form>
    <a href="/campgrounds/{{camp.id}}"> Back to Campground</a>
  </body>
</html>
